.button {
	-fx-background-color: #696;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 0);
	-fx-font-weight: 900;
	-fx-text-fill: #fff;
	-fx-font-size: 1.2em;
}

.button:hover {
	-fx-background-color: #a9c53a;
	-fx-border-color: null;
}

.slider .thumb {
	-fx-background-color: #696;
	-fx-background-radius: 0, 0;
}

.slider .thumb:pressed {
	-fx-background-color: #a9c53a;
	-fx-background-radius: 0, 0;
}

.slider .track {
    -fx-background-color: null;  /* Hide the track */
}

.slider {
	-fx-background-color: #555555;
}

.label {
	-fx-text-fill: #fff;
	-fx-font-weight: 900;
}